body{
    background: #f0aa2a;
    margin:0;
}
#container{
    position: sticky;
    width:100%;
    text-align:center;
}
.resume
{
    vertical-align: top;
    max-width : 400px;
    max-height: 70px;
    overflow: auto;
}
.btnRadius{
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form_produit{
    width: auto;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: inline-flex;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] , button[type=submit]{
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #53af57;
}
input[type=submit]:hover , button[type=submit]:hover{
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}


/*----------------------------
	CSS3 Animated Navigation
-----------------------------*/


p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: rgb(51, 51, 51);
    max-width: 55em;
}

p a {
    color: rgb(41, 183, 206);
    text-decoration: none;
}

strong { color: rgb(41, 183, 206); }

nav {
    font-size: 12px;
    background-color: rgb(19, 51, 61);
    box-shadow: 0 1px 2px rgba(19, 51, 61, 0.5);
    padding: 0 1em;
    /* height: 44px; Menu height */
    overflow: hidden; /* Don't show anything outside the nav */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* max-height: 88px; Menu height x 2 */
    position: relative; /* Position the menu button relative to this item */
}

nav li { display: inline-block; }

nav a {
    display: inline-block;
    padding: 0 1em;
    color: rgb(236, 236, 236);
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 44px; /* Menu height */
    height: 44px; /* Menu height */
}

nav a:hover { background-color: rgba(255, 255, 255, 0.08); }



nav#menu:target {
    height: auto;
    padding: 0;
}

nav#menu:target ul { max-height: none; }

nav#menu:target li { display: block; }

nav#menu:target a {
    display: block;
    padding: 0 2em;
    background-color: rgba(255, 255, 255, 0.05);
}

nav#menu:target a:hover { background-color: rgba(255, 255, 255, 0.08); }


